<nav class="navbar">
    <img src="./img/PocketStore.png" alt="Logo de PocketStore" class="logoNav" onclick="location.href='/dashboard'">
    <h3><%= seccionActual %></h3>
    <i style="font-weight: 100;">Gabriel Rojas - Valentin Rodriguez</i>
    <a href="/login">Logout</a>
</nav>