<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketStore - Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="navbar">
        <img src="./img/PocketStore.png" alt="Logo de PocketStore" class="logoNav">
        <h3>Dashboard</h3>
        <i style="font-weight: 100;">Gabriel Rojas - Valentin Rodriguez</i>
        <a href="/">Logout</a>
    </nav>

    <div class="container-principal">
        <div id="panel-izquierdo">
            <img src="./img/celu.png" alt="Celular" class="celular">
            <img src="./img/celu.png" alt="Celular" class="celular">
            </ul>
        </div>

        <div id="panel-derecho-celulares-gestion">
            <% products.forEach(p=> { %>
                <div class="card">
                    <img src="<%= p.imagen %>" style="max-width: 200px; max-height: 200px;">
                    <p> <%=p.marca%> </p>
                    <p> <%=p.precio%> </p>
                    <p> <%=p.marca%> </p>

                    <div class="btn-caja">
                        <button id="btn-habilitar" class="btnActDes button">Habilitar</button>
                        <button id="btn-deshabilitar" class="btnActDes button">Deshabilitar</button>
                        <a href="/gestion" class="button">Modificar</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div>
        <button class="floating-icon" onclick="window.location.href='/gestion'">&plus;</button>
    </div>
</body>

</html>