<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PocketStore - Crear cuenta</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="containerLogin">

        <img src="./img/PocketStore.png" alt="Logo de PocketStore" class="logoLog">

        <form method="POST" action="/admin">
            <div id="divLogin" class="caja">
                <label for="inputNombre">Nombre de usuario:</label>
                <input id="inputNombre" name="username" type="text" placeholder="Ingrese su nombre de usuario" required>

                <label for="inputEmail">Correo electronico:</label>
                <input id="inputEmail" name="email" type="text" placeholder="example@...com" required>

                <label for="inputContrasena">Contrase単a:</label>
                <input id="inputContrasena" name="password" type="password" placeholder="Ingrese su contrase単a" required>

                <label for="inputContrasena2">Confirmar contrase単a:</label>
                <input id="inputContrasena2" name="password2" type="password" placeholder="Ingrese su contrase単a" required>

                <div class="botonera-login">
                    <button id="btnAccept" type="submit" class="button">Aceptar</button>
                    <a href="/login" class="button">Cancelar</a>
                </div>
            </div>
        </form>

    </div>

    <script type="module" src="/main.js"></script>
</body>

</html>